.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.wheel {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 200px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.slot-machine {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-section {
  margin-bottom: 20px;
}

.action-button {
  color: white;
  margin: 0px;
  width: 100px;
  height: 30px;
  border: none;
  background: #00ACE7;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.float-right {
  float: right;
}

.prize-text-section {
  margin-top: 20px;
  min-height: 40px;
  text-align: center;
}

.prize-text {
  color: gray;
  display: inline;
}
